@model IEnumerable<TazeBlog.Entities.Concrete.Category>
@{
    ViewData["Title"] = "Kategoriler";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="card-block">
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-default">
                <div class="card-header separator">
                    <div class="card-title" style="display:block">
                        <span class="pull-left" style="line-height: 25px;">Kategori Listesi</span>
                        <a asp-action="Create" class="btn btn-success pull-right btn-xs">
                            Yeni Kategori Oluştur
                        </a>
                    </div>

                </div>
                <div class="card-block">
                    <div class="card card-transparent">
                        <div class="card-block">
                            <div class="table-responsive">
                                <table class="table table-hover table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Kategori Adı</th>
                                            <th>Kategori Açıklaması</th>
                                            <th>#</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td class="v-align-middle semi-bold">
                                                    @item.Name
                                                </td>

                                                <td class="v-align-middle semi-bold">
                                                    @item.Description
                                                </td>
                                                <td class="v-align-middle semi-bold text-center">
                                                    <a href="@Url.Action("Update","Category",new {entityId=item.Id})" class="btn btn-complete">
                                                        <i class="fe fe-edit"></i>
                                                    </a>
                                                    <a href="@Url.Action("Delete", "Category", new {entityId = item.Id})" class="btn btn-danger">
                                                        <i class="fe fe-trash"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

