<div class="sidebar-menu">
    <!-- BEGIN SIDEBAR MENU ITEMS-->
    <ul class="menu-items">

        <li class="mt-t-20">
            <a href="@Url.Action("Index","Home")"><span class="title">Anasayfa</span></a>
            <span class="icon-thumbnail"><i class="fe fe-home" style="font-size: 20px"></i></span>
        </li>
        <li class="">
            <a href="@Url.Action("Index","Category")"><span class="title">Kategoriler</span></a>
            <span class="icon-thumbnail"><i class="fe fe-layer" style="font-size: 20px"></i></span>
        </li>
        <li class="">
            <a href="@Url.Action("Index","Article")"><span class="title">Makaleler</span></a>
            <span class="icon-thumbnail"><i class="fe fe-document" style="font-size: 20px"></i></span>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>
